<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>@Page.Title</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="~/MVC/Vendors/MDB/css/bootstrap.min.css">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="~/MVC/Vendors/MDB/css/mdb.min.css">
	<link rel="stylesheet" href="~/public/css/mystyle.css">
	<!-- Your custom styles (optional) -->
	<style>
		#tableMatHang .btn {
			margin: 0;
			padding: 5px 10px;
		}
	</style>
</head>
<body class="fixed-sn white-skin">
	@RenderPage("blocks/header.cshtml")
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script src="~/MVC/Vendors/MDB/js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="~/MVC/Vendors/MDB/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="~/MVC/Vendors/MDB/js/bootstrap.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="~/MVC/Vendors/MDB/js/mdb.min.js"></script>
	@RenderBody()
	@RenderPage("blocks/footer.cshtml")

</body>


</html>
