    <!-- Fixed button -->
<script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
</script>

<!-- Footer -->
<footer class="page-footer pt-0 mt-5 rgba-stylish-light">

	<!-- Copyright -->
	<div class="footer-copyright py-3 text-center">
		<div class="container-fluid">
			<b>Phần mềm quản lý cửa hàng.</b>
			© 2020 Copyright: <b>Tống Công Danh</b> - MSSV: <b>1988216</b>
		</div>
	</div>

</footer>
<!-- Footer -->