    <!-- Main Navigation -->
<header>
	<!-- Sidebar navigation -->
	<div id="slide-out" class="side-nav sn-bg-4 fixed">
		<ul class="custom-scrollbar">

			<!-- Logo -->
			<li class="logo-sn waves-effect py-3">
				<div class="text-center">
					<a href="/?c=home" class="pl-0"><h3>Quản lý cửa hàng</h3></a>
				</div>
			</li>

			<!-- Side navigation links -->
			<li>
                <ul class="collapsible collapsible-accordion">

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-tachometer-alt"></i><b>Mặt hàng & Loại hàng</b>
                        </a>
                        <div>
                            <ul>
                                <li>
                                    <a href="/?c=dsmathang" class="waves-effect">Danh sách mặt hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=themmathang" class="waves-effect">Thêm mặt hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=dsloaihang" class="waves-effect">Danh sách loại hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=themloaihang" class="waves-effect">Thêm loại hàng</a>
                                </li>
                            </ul>
                        </div>

                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-tachometer-alt"></i><b>Các loại hóa đơn</b>
                        </a>
                        <div>
                            <ul>
                                <li>
                                    <a href="/?c=dshoadonbanhang" class="waves-effect">Danh sách hóa đơn bán hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=themhoadonbanhang" class="waves-effect">Thêm hóa đơn bán hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=dshoadonnhaphang" class="waves-effect">Danh sách hóa đơn nhập hàng</a>
                                </li>
                                <li>
                                    <a href="/?c=themhoadonnhaphang" class="waves-effect">Thêm hóa đơn nhập hàng</a>
                                </li>
                            </ul>
                        </div>

                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-tachometer-alt"></i><b>Thống kê</b>
                        </a>
                        <div>
                            <ul>
                                <li>
                                    <a href="/?c=dssohangtheotheloai" class="waves-effect">Số hàng còn lại theo thể loại</a>
                                </li>
                                <li>
                                    <a href="/?c=thongkehanghethan" class="waves-effect">Số hàng hết hạn sử dụng</a>
                                </li>
                            </ul>
                        </div>

                    </li>

				</ul>
			</li>
			<!-- Side navigation links -->

		</ul>
		<div class="sidenav-bg mask-strong"></div>
	</div>
	<!-- Sidebar navigation -->
	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

		<!-- SideNav slide-out button -->
		<div class="float-left">
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
		</div>

		<!-- Breadcrumb -->
		<div class="breadcrumb-dn mr-auto">
			<p>Xin chào, <b>@Session["username"]</b> <a href="/?c=home&act=logout" class="btn btn-outline-black btn-sm">Đăng xuất</a></p>

		</div>

		<div class="d-flex change-mode">

			@*            <form class="form-inline" id="frm-search">
					<div class="md-form my-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Nhập từ khóa vào đây" aria-label="Search" style="display: inline">
						<b>Tìm kiếm theo: </b>
						<select class="browser-default custom-select" style="display: inline!important; font-family: inherit">
							<option value="type_search_mathang">Mặt hàng</option>
							<option value="type_search_loaihang">Loại hàng</option>
						</select>
						<button class="btn btn-outline-black btn-sm" id="dark-mode">Tìm kiếm</button>
					</div>
				</form>*@

		</div>

	</nav>
	<!-- Navbar -->
	<!-- Fixed button -->
	<div class="fixed-action-btn clearfix d-none d-xl-block" style="bottom: 45px; right: 24px;">

		<a class="btn-floating btn-lg red">
			<i class="fas fa-pencil-alt"></i>
		</a>

		<ul class="list-unstyled">
			<li><a class="btn-floating red"><i class="fas fa-star"></i></a></li>
			<li><a class="btn-floating yellow darken-1"><i class="fas fa-user"></i></a></li>
			<li><a class="btn-floating green"><i class="fas fa-envelope"></i></a></li>
			<li><a class="btn-floating blue"><i class="fas fa-shopping-cart"></i></a></li>
		</ul>

	</div>
</header>
<!-- Main Navigation -->